.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    border:1px solid black;
    background-color: black;
    padding: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
}