 #game div {
  border: 1px solid black;
  margin: 10px;
  width: 15%;
  height: 200px;
  display: inline-block;
}

#game{
  display: flex;
  flex-wrap: wrap;
}

button{
  font-size: large;
  width:10vw;
  height: 5vh;
  align-self: center;
  background-color:gray;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top:5vh;
  padding-bottom: 5vh;
}


@media all and (max-width:1000px){
  #game {
    flex-direction: column;
    align-items: center;
  }

  #game div {
    width:70vw;
    height: 20vh;
  }
}